<div id="events">
  <div class="container pt-5 pb-5">
    <h1>Demos</h1>
    <table class="table-striped">
      <tr>
        <th><%= __('th_title') %></th>
        <th><%= __('th_city') %></th>
        <th><%= __('th_meetingpoint') %></th>
        <th><%= __('th_start') %></th>
      </tr>
      <% for(const event of events){ %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.city %></td>
          <td><%= event.address %></td>
          <td><%= event.startsAt %></td>
        </tr>
       <% } %>
     </table>
</div>
